/* Write your CSS here */
.bg-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  background-size: cover;
}
.logo-container {
  display: flex;
  flex-direction: row;
}
.logo-image {
  height: 14vh;
  width: 5vw;
}
.second-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.main-heading {
  color: #ffffff;
  font-family: 'Bree Serif';
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
}
.ul-container {
  background-color: transparent;
  min-width: 50vw;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 300px;
}
.item-links {
  text-decoration: none;
}
@media (max-width: 576px) {
  .bg-container {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    min-height: 100vh;
    background-size: cover;
  }
  .logo-container {
    display: flex;
    flex-direction: row;
  }
  .logo-image {
    height: 10vh;
    width: 10vw;
  }
  .second-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
  }
  .main-heading {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
  }
  .ul-container {
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .loader {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
  }
  .item-links {
    text-decoration: none;
  }
}
